* {
  box-sizing: border-box;
}

.container {
  position: relative;
  width: 470px;
  margin: 0 auto;
  height: 200px;
  overflow: hidden;
  border: 1px solid rgb(119, 0, 255) !important;
}

.slides {
  position: absolute;
  left: 0; 
  top: 0;
  border: 1px solid rgb(119, 0, 255) !important;
}

.slides li {
  width: 130px;
  height: 100px;
  float:left;
  list-style-type: none;
  margin: 10px;
  background-color: aquamarine;
}

.slide .animated {
  transition: 0.5s ease-out;
}

.slide > img {
  width: 130px;
  height: 100px;
}

.button {
  position: absolute;
  width: 3vw;
  height: 10vh;
  background-color: rgb(0, 255, 242);
}

.left {
  left: 35%;
  top: 10%;
}

.right {
  right: 35%;
  top: 10%;
}

.clone {
  background-color: silver;
}
